<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Ghibli webside</title>
    <link rel="icon" href="../../../static/img/icono.ico" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link rel="stylesheet" href="../../../static/css/nav-style.css">
    <link rel="stylesheet" href="../../../static/css/user-style.css">
    <link rel="stylesheet" href="../../../static/css/form-style.css">
</head>
<body>
    <!--navbar-->
    <div id="navbarContainer"></div>
    <h2>Actualizar usuario</h2>
    <div id="div-form">
        <section id="formContainer">
            <form action="/users/update/{{user.id}}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div>
                    <label for="txtUsername">Nombre de usuario</label>
                    <input type="text" name="username" placeholder="Ingrese un nombre de usuario" value="{{ user.username }}">
                </div>
                <div>
                    <label for="txtEmail">Email</label>
                    <input type="text" name="email" placeholder="Ingrese un email" value="{{ user.email}}">
                </div>
                <div>
                    <label for="txtPassword">Contraseña</label>
                    <input type="password" name="password" placeholder="Ingrese una contraseña">  
                </div>
                <div>
                    <label for="txtPassword2">Repita la Contraseña</label>
                    <input type="password" name="password2" placeholder="Repita la contraseña">
                </div> 
                <div id="submitButton">
                    <input class="btn" type="submit" value="Guardar">
                </div>
            </form>
        </section>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <script src="../../../static/js/navigation.js"></script>
</body>    
</html>