<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Ghibli webside</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/nav-style.css">
    <link rel="stylesheet" href="static/css/form-style.css">
    <link rel="stylesheet" href="static/css/user-style.css">
</head>
<body>
    <!---navbar-->
    <div id="navbarContainer"></div>

    <h1>Pagina de Usuario</h1>
    <h2>Dar de alta un usuario</h2>
    <div id="div-form">
        <section id="formContainer">
            <form action="/users/new" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div>
                    <label for="txtUsername">Nombre de usuario</label>
                    <input type="text" name="username" placeholder="Ingrese un nombre de usuario">
                </div>
                <div>
                    <label for="txtEmail">Email</label>
                    <input type="text" name="email" placeholder="Ingrese un email">
                </div>
                <div>
                    <label for="txtPassword">Contraseña</label>
                    <input type="password" name="password" placeholder="Ingrese una contraseña">  
                </div>
                <div>
                    <label for="txtPassword2">Repita la Contraseña</label>
                    <input type="password" name="password2" placeholder="Repita la contraseña">
                </div> 
                <div id="submitButton">
                    <input class="btn" type="submit" value="Guardar">
                </div>
            </form>
        </section>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div>
        <h2>Listado de usuarios</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ "activo" if user.actived else "inactivo" }}</td>
                    <td>
                        {% if not user.actived %}
                            <a href="{{ url_for('users.activate', id = user.id)}}" class="table-button actived">Habilitar</a>
                        {% endif %}
                        <a href="{{ url_for('users.update', id = user.id) }}" class="table-button update">Actualizar</a>
                        {% if user.id != current_user.id %}
                            <a href="{{ url_for('users.delete', id = user.id) }}" class="table-button delete">Borrar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="static/js/navigation.js"></script>
</body>
</html>