<h2>Actualizar una ubicación</h2>
<form action="/location/update/{{location.id}}" method="post">
    <input type="text" name="name" placeholder="Ingrese un nombre" value="{{ location.name }}">
    <input type="text" name="climate" placeholder="Ingrese clima" value="{{ location.climate }}">
    <input type="text" name="terrain" placeholder="Ingrese terreno" value="{{ location.terrain }}">    
    <select name="id_movie" id="movie">
        {% for movie in movies %}
        <option value="{{movie.id}}"{% if movie.id == location.id_movie %}selected{% endif %}>
            {{movie.title}}
        </option>
        {% endfor %}
    </select>
    <button>Guardar</button>
</form>