<h1>Pagina de peliculas</h1>
<h2>Crear una pelicula</h2>
<form action="/movie/new" method="post">
    <input type="text" name="title" placeholder="Ingrese un nombre">
    <input type="date" name="premiere" placeholder="Ingrese fecha de estreno">
    <input type="text" name="director" placeholder="Ingrese director">    
    <input type="text" name="description" placeholder="Ingrese una descripción">
    <input type="text" name="music" placeholder="Ingrese musico">        
    <input type="text" name="writer" placeholder="Ingrese escritor">    
    <button>Guardar</button>
</form>

<div>
    <h2>Listado de peliculas</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Año de estreno</th>
                <th>director</th>
                <th>Descripción</th>
                <th>Equipo musical</th>
                <th>Escritores</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.premiere }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.music }}</td>
                <td>{{ movie.writer }}</td>
                <td>
                    <a href="{{ url_for('movies.update', id = movie.id) }}">Actualizar</a>
                    <a href="{{ url_for('movies.delete', id = movie.id) }}">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>