<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Ghibli webside</title>
    <link rel="icon" href="../../../static/img/icono.ico" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link rel="stylesheet" href="../../../static/css/nav-style.css">
    <link rel="stylesheet" href="../../../static/css/movie-style.css">
</head>
<body>
    <!--navbar-->
    <div id="navbarContainer"></div>
    <h2>Actualizar pelicula</h2>
    <div id="div-form">
        <section id="formContainer">
            <form action="/movies/update/{{movie.id}}" method="post">
                <input type="text" name="title" placeholder="Ingrese un nombre" value="{{ movie.title }}">
                <input type="date" name="premiere" placeholder="Ingrese fecha de estreno", value="{{ movie.premiere }}">
                <input type="text" name="director" placeholder="Ingrese director" value="{{ movie.director }}">    
                <input type="text" name="description" placeholder="Ingrese una descripción" value="{{ movie.description }}">
                <input type="text" name="music" placeholder="Ingrese musico" value="{{ movie.music }}">        
                <input type="text" name="writer" placeholder="Ingrese escritor" value="{{ movie.writer }}">    
                <div id="submitButton">
                    <input class="btn" type="submit" value="Guardar">
                </div>
            </form>
        </section>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <script src="../../../static/js/navigation.js"></script>
</body>    
</html>