<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Ghibli webside</title>
    <link rel="icon" href="img/icono.ico" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/nav-style.css">
    <link rel="stylesheet" href="static/css/index-style.css">
</head>
<body>
    
    <!---navbar-->
    <div id="navbarContainer"></div>
    <div class="image"></div>
    <main>
        <div class="title">
            <h2>Explora las herramientas detrás de los mundos fantásticos de Studio Ghibli y gestiona la magia de cada historia.</h2>
            <h3>En esta plataforma, puedes crear, modificar y borrar información como películas, localidades y más. Sumérgete en el poder de dar vida a cada detalle y asegúrate de que la experiencia de nuestros usuarios sea tan encantadora como las historias que amamos.</h3>
        </div>
    </main>
    <script src="static/js/navigation.js"></script>
</body>
</html>
